body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
    font-family: Calibri;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22px;
  }