@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/*background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
font-family: 'Numans', sans-serif;
background-color: #36454F;
}

h1, p{
    color: white;
}